@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

$primary-color: #e94102;
$primary-hover-color: #ff0000;
$gray-text-color: #c4c4c4;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@mixin transition-ease {
  transition: 0.3s ease;
}

// -- RESPONSIVE

$mobile: 767;
$tablet: 991;
$desktop: 1024;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
