$primary-color: #e94102;
$gray-text-color: #c4c4c4;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$mobile: 767;
$tablet: 991;
$desktop: 1200;

// .media {
//   @media screen and (min-width: $desktop) {
    
//   }

//   @media screen and (min-width: $tablet) {
    
//   }

//   @media screen and (min-width: $mobile) {

//   }
// }