@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.header-hamburger-btn .hamburger-btn {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  border-radius: 2px;
}

.btn {
  padding: 15px 25px;
}

@media screen and (max-width: 991px) {
  .header-hamburger-btn {
    padding: 20px 5px 0px 40px;
  }
  .header-hamburger-btn .hamburger-btn {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 2px;
  }
}
@media screen and (max-width: 767px) {
  .header-hamburger-btn {
    padding: 15px 0px 10px 40px;
  }
  .header-hamburger-btn .hamburger-btn {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 2px;
  }
}
.header--container {
  background-color: transparent;
  position: absolute;
  width: 97%;
}
.header--container .header-logo {
  margin-left: 20px;
}
.header--container .header-icons i {
  padding-right: 15px;
  color: #ffffff;
}
.header--container .header-icons i:hover {
  transition: 0.5s ease;
  color: #ff0000;
}

@media screen and (max-width: 991px) {
  .header-logo figcaption img {
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .header-logo figcaption img {
    width: 60%;
  }
}
.nav--container ul li {
  padding-left: 50px;
}
.nav--container ul li a {
  color: #ffffff;
}
.nav--container ul li a:hover {
  transition: 0.5s ease;
  color: #ff0000;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .desktop-hidden {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .tablet-hidden {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}
main .home--container img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
main .home--container .home-content {
  position: absolute;
  top: 200px;
}
main .home--container .home-content .home-content-text {
  margin-left: 20px;
}
main .home--container .home-content .home-content-text .home-top-text {
  max-width: 200px;
  margin: 15px 0;
}
main .home--container .home-content .home-content-text .home-top-text p {
  padding: 10px;
  font-weight: 700;
  background-color: #fe0000;
  color: #ffffff;
}
main .home--container .home-content .home-content-text h1 {
  font-size: 5em;
  width: 700px;
  color: #ffffff;
}
main .home--container .home-content .btn {
  background-color: #fe0000;
  color: #ffffff;
  border: none;
  margin-top: 30px;
}
main .home--container .home-content .btn:hover {
  background-color: transparent;
  border: 2px solid #ff0000;
  transition: 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  main img {
    background-position: 50% 0px;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 90%;
  }
}
@media screen and (max-width: 767px) {
  main figcaption img {
    background-position: 50% 0px;
  }
}/*# sourceMappingURL=main.css.map */