.container {
  width: 100%;
  margin: 0 auto;
}

.special {
  width: 100%;
  height: 46.3em;
  padding: 12em;
  background-image: url('/img/home-burgers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

// DESKTOP
@include desktop {
  .desktop-hidden {
    display: none;
  }
}

// TABLET
@include tablet {
  .tablet-hidden {
    display: none;
  }
}

// MOBILE
@include mobile {
  .mobile-hidden {
    display: none;
  }
}
