.header--container {
  position: absolute;
  padding-left: 17%;

  .header-logo {
    margin-left: 20px;
  }

  .header-icons {
    margin-left: 100px;

    i {
      padding-right: 15px;
      color: #ffffff;

      &:hover {
        @include transition-ease;
        color: $primary-hover-color;
      }
    }
  }
}

// TABLET
@include tablet {
  .header-logo {
    figcaption {
      img {
        width: 70%;
      }
    }
  }
}

// MOBILE
@include tablet {
  .header-logo {
    figcaption {
      img {
        width: 60%;
      }
    }
  }
}
