.header-hamburger-btn {
  .hamburger-btn {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 2px;
  }
}

.btn {
  width: 150px;
  padding: 15px 25px;
}

// TABLET
@include tablet {
  .header-hamburger-btn {
    padding: 20px 5px 0px 40px;

    .hamburger-btn {
      width: 25px;
      height: 2px;
      background-color: #ffffff;
      margin: 6px 0;
      border-radius: 2px;
    }
  }
}

// MOBILE
@include mobile {
  .header-hamburger-btn {
    padding: 15px 0px 10px 40px;
    
    .hamburger-btn {
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      margin: 6px 0;
      border-radius: 2px;
    }
  }
}
