section {
  .choose-menu--container {
    border: 3em solid #f6f8fa;
    height: 1514px;

    .choose-menu-title {
      padding-top: 6em;

      .choose-menu-top-text {
        background-color: $primary-color;
        width: 180px;
        margin: 0 auto;
        padding: 5px 10px;
        color: #ffffff;
        font-weight: map-get($font-weights, "bold");
        margin-bottom: 0.7em;
      }

      .choose-menu-big-text {
        padding-bottom: 0.4em;
        
        h2 {
          font-size: 4em;
          font-weight: map-get($font-weights, "bold");
        }
      }

      .choose-menu-sub-text {
        margin-bottom: 4em;
        
        p {
          font-size: 1.3em;
          color: #333333;
          opacity: 0.4;
        }
      }
    }

    .choose-menu-items {
      flex-wrap: wrap;

      .choose-menu-item {
        padding-left: 50px;
        padding-bottom: 80px;

        img {
          margin-left: 20px;
          padding-bottom: 1em;
        }

        .choose-menu-item-title {
          padding-top: 1em;

          .choose-menu-item-toptitle {
            font-size: 1.2em;
            font-weight: map-get($font-weights, "bold");
          }

          .choose-menu-item-subtitle {
            font-size: 1em;
            color: #333333;
            width: 326px;
            opacity: 0.4;
            margin-top: 10px;
            line-height: 1.8;
          }
        }
      }
    }

    .choose-menu-btn {

      .btn {
        width: 227px;
        background-color: #ffffff;
        border: 2px solid $primary-hover-color;
        color: $primary-hover-color;
        font-weight: map-get($font-weights, "medium");
        font-size: 0.9em;

        &:hover {
          background-color: $primary-hover-color;
          color: #ffffff;
          @include transition-ease;
          cursor: pointer;
        }
      }
    }
  }
}

// TABLET
@include tablet {
  main {
  }
}

// MOBILE
@include mobile {
  main {
  }
}
