main {
  .home--container {
    .home-content {
      position: absolute;
      top: 200px;
      .home-content-text {
        margin-left: 20px;
        .home-top-text {
          max-width: 200px;
          margin: 15px 0;
          p {
            width: 260px;
            padding: 10px;
            font-weight: map-get($font-weights , "bold");
            font-size: 1.3em;
            background-color: $primary-color;
            color: #ffffff;
          }
        }
        h1 {
          font-size: 6em;
          width: 800px;
          color: #ffffff;
          line-height: 1;
        }
      }
      .btn {
        background-color: $primary-color;
        color: #ffffff;
        font-size: 1em;
        font-weight: map-get($font-weights , "medium");
        border: none;
        margin-top: 30px;
        &:hover {
          background-color: transparent;
          border: 2px solid $primary-hover-color;
          @include transition-ease;
          cursor: pointer;
        }
      }
    }
  }
}

// TABLET
@include tablet {
  main {
    
  }
}

// MOBILE
@include mobile {
  main {
    
  }
}
